.icon-logo {
  width: 9.76em;
  height: 1em;
  fill: none;
  stroke: initial;
}
.icon-men-white {
  width: 8.04em;
  height: 1em;
  fill: #FFF;
  stroke: initial;
}
.icon-mom {
  width: 8.68em;
  height: 1em;
  fill: none;
  stroke: initial;
}
.icon-slim {
  width: 8.48em;
  height: 1em;
  fill: #FFF;
  stroke: initial;
}
