if socials ? socials : socials = []

+b.socials(class= socialsClass ? socialsClass : '')
  +e.A(href='#!' target='_blank')
    svg(class='socials__icon socials__icon-fb' width='13px', height='20px', viewbox='0 0 17 28', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
      g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='round', stroke-linejoin='round')
        g#Path(stroke='#FFFFFF', class='for-fill', stroke-width='2')
          path(d='M1.90920432,16.5778093 L3.72429293,16.5778093 L3.72429293,25.6666975 C3.73168163,26.7158675 4.58430122,27.5624827 5.63349725,27.5624567 L9.23678427,27.5624567 C9.7431405,27.5660351 10.2301779,27.3683113 10.5907473,27.0127848 C10.9513168,26.6572583 11.1558804,26.1730539 11.1594337,25.6666975 L11.1594337,16.5778093 L12.9745223,16.5778093 C13.7755899,16.49241 14.4663219,15.9769383 14.7761658,15.2332992 L16.0131151,12.799736 C16.0177002,12.7550363 16.0177002,12.7099847 16.0131151,12.665285 C16.1573307,12.1250174 16.0538708,11.5485981 15.730768,11.0922082 C15.3670823,10.6316198 14.8117759,10.3638828 14.2249167,10.3661727 L11.1594337,10.3661727 L11.1594337,6.81666612 L14.2114716,6.81666612 C15.2607147,6.82415905 16.1193693,5.98351818 16.134121,4.934352 L16.134121,1.89575922 C16.1267323,0.846589204 15.2741127,-2.60168852e-05 14.2249167,0 L10.4871786,0 C5.94273457,0 3.76462823,2.81002607 3.76462823,8.59141943 L3.76462823,10.3527276 L1.90920432,10.3527276 C0.860008288,10.3527016 0.00738870411,11.1993168 0,12.2484869 L0,14.6820501 C0.00738870411,15.7312201 0.860008288,16.5778353 1.90920432,16.5778093 Z')

  +e.A(href='#!' target='_blank')
    svg(class='socials__icon socials__icon-inst' width='20px', height='20px', viewbox='0 0 20 20', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
      g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
        g#Desctop-HD(transform='translate(-1298.000000, -8431.000000)')
          g#Footer(transform='translate(0.000000, 8191.000000)')
            g#social(transform='translate(1267.000000, 240.000000)')
              g#Rectangle-8(transform='translate(31.000000, 0.000000)')
                rect(stroke='#FFFFFF', class='for-fill', stroke-width='2', x='1', y='1', width='18', height='18', rx='4')
                circle#Oval-2(stroke='#FFFFFF', class='for-fill', stroke-width='2', cx='10', cy='10', r='3.84615385')
                circle#Oval-2-Copy(fill='#FFFFFF', fill-rule='evenodd', cx='15.7692308', cy='4.23076923', r='1.15384615')

  +e.A(href='#!' target='_blank')
    svg(class='socials__icon socials__icon-yt' width='20px', height='20px', viewbox='0 0 20 20', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
      g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
        g#Desctop-HD(transform='translate(-1337.000000, -8431.000000)', stroke='#FFFFFF', class='for-fill', stroke-width='2')
          g#Footer(transform='translate(0.000000, 8191.000000)')
            g#social(transform='translate(1267.000000, 240.000000)')
              g#Rectangle-8-Copy(transform='translate(70.000000, 0.000000)')
                rect(x='1', y='1', width='18', height='18', rx='4')
                polygon#Triangle-3(stroke-linecap='round', stroke-linejoin='round', transform='translate(10.769231, 10.000000) rotate(90.000000) translate(-10.769231, -10.000000) ', points='10.7692308 6.92307692 14.6153846 13.0769231 6.92307692 13.0769231')
