extends ../extend/default

block variables
	- var title = 'Home page';
	- var logoScrollTop = true;
	- var topBtn = true;

block main
	main.content

		//begin screen
		+b.SECTION.screen(style='background-image: url(static/img/bg/screen_bg.jpg)')
			+e.container.container
				+e.content
					+e.sub-title.title-md
						h4 ТЫ СПОСОБНА НА БОЛЬШЕЕ
					+e.title.title-lg
						h2 WOWBODY
					+e.title._mod.title-lg
						h2 STRONG
							span 2.0

					+e.descr.js-dot
						p Онлайн-программа эффективных ежедневных тренировок для создания женственного рельефа тела и упругих ягодиц. Работа над деталями!

					+e.A.btn.btn._green-hov(href='#!')
						span ПРОЙТИ ПРОГРАММУ
		//end screen

		//begin about-program
		+b.SECTION.about-program
			+e.back-title.back-title
				h4 ABOUT
			+e.container.container
				+e.text(data-anim-stagger="fade-y")
					+e.title.title-md
						h2 О программе
					+e.descr
						p Настойчивость, упорство и дисциплина каждый день будут приближать тебя к цели. Но будет нелегко!

				+e.inner
					-
						aboutList = [{
							img: '20-min',
							title: 'Только 20 минут в день',
							text: '6 разных тренировок в неделю рассчитаных на 20-30 минут',
							brText: 'и максимальную отдачу'
						}, {
							img: 'high-level',
							title: 'Продвинутый уровень',
							text: 'В этой прграмме усилена нагрузка, упражнения с весом 5 кг, добавлены йога и растяжка.'
						}, {
							img: 'control',
							title: 'Контроль прогресса',
							text: 'Ты получишь доступ в нашу внутреннюю систему, которая помогает отслеживать изменения в сантиметрах и визуально'
						}]

					mixin aboutItem(item)
						+e.item
							+e.item-img(data-anim="fade-y")
								+e.IMG(src=`static/img/content/${item.img}.png` alt='image')
							+e.item-text(data-anim="fade-y")
								+e.item-title
									h4= item.title
								+e.item-descr.js-dot(data-anim-stagger="fade-y")
									p= item.text
										if item.brText
											br
											= item.brText
					each item in aboutList
						+aboutItem(item)
		//end about-program

		//begin what-program
		+b.SECTION.what-program
			+e.container.container

				+e.title.title-md(data-anim="fade-y")
					h2 Что входит в программу

				.around-slider.what-program__around-slider
					.around-slider__slider__point.js-responsive-slider(data-anim='fade-y' data-anim-stagger="fade-y" data-anim-delay='0.3' data-anim-duration='0.25')
						.around-slider__item.around-slider__item__right.around-slider__active.active-slide
							.around-slider__item__img
								img(src='static/img/content/what-prog_1.jpg', alt='')
							.around-slider__item__text
								.around-slider__item__title
									h6 Питание
								.around-slider__item__desc.js-dot
									p Наше питание подходит и для вегетарианцев, и для тех, кто ест мясо. Ты получишь меню на месяц, продукты в котором можно менять в зависимости от предпочтений и настроения.

						.around-slider__item.around-slider__item__right
							.around-slider__item__img
								img(src='static/img/content/what-prog_2.jpg', alt='')
							.around-slider__item__text
								.around-slider__item__title
									h6 Силовые тренировки
								.around-slider__item__desc.js-dot
									p В личном кабинете ты сможешь следить за изменениями в твоем теле и контролировать правильный здоровый набор веса.

						.around-slider__item.around-slider__item__left
							.around-slider__item__img
								img(src='static/img/content/what-prog_1.jpg', alt='')
							.around-slider__item__text
								.around-slider__item__title
									h6 Йога
								.around-slider__item__desc.js-dot
									p Срок беременности, дата родов, вес, фото — мы гарантируем конфиденциальность и безопасность всех твоих даных.

						.around-slider__item.around-slider__item__left
							.around-slider__item__img
								img(src='static/img/content/what-prog_2.jpg', alt='')
							.around-slider__item__text
								.around-slider__item__title
									h6 Растяжка
								.around-slider__item__desc.js-dot
									p Важная и полезная информация по развитию ребенка на каждом этапе беременности, от зачатия до родов в понятном формате.

						.around-slider__item.around-slider__item__left
							.around-slider__item__img
								img(src='static/img/content/what-prog_1.jpg', alt='')
							.around-slider__item__text
								.around-slider__item__title
									h6 Советы
								.around-slider__item__desc.js-dot
									p Что почитать, посмотреть, уход за телом, посещения врача и важные моменты, на которые нужно обратить внимание.

					.around-slider__slides(data-anim='fade-y' data-anim-delay='0.3' data-anim-duration='0.25')
						.around-slider__slide.active-slide
							img(src='static/img/content/what-prog_1.jpg', alt='')
						.around-slider__slide
							img(src='static/img/content/what-prog_2.jpg', alt='')
						.around-slider__slide
							img(src='static/img/content/what-prog_1.jpg', alt='')
						.around-slider__slide
							img(src='static/img/content/what-prog_2.jpg', alt='')
						.around-slider__slide
							img(src='static/img/content/what-prog_1.jpg', alt='')

					.around-slider__controls(data-anim-stagger="fade-y" data-anim-delay='1' data-anim-duration='0.25')
						.arrow.arrow-left
							span
								svg(width='36px', height='36px', viewbox='0 0 36 36', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
									g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
										g(transform='translate(-1274.000000, -2550.000000)')
											g(transform='translate(0.000000, 2048.000000)')
												g(transform='translate(1274.000000, 502.000000)')
													polyline(stroke='#FFFFFF', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', transform='translate(17.000000, 18.000000) rotate(90.000000) translate(-17.000000, -18.000000) ', points='13 16 17 20 21 16')

						.arrow.arrow-right
							span
								svg(width='52px', height='52px', viewbox='0 0 52 52', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
									g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
										g(transform='translate(-1314.000000, -2542.000000)')
											g(transform='translate(0.000000, 2048.000000)')
												g(transform='translate(1314.000000, 494.000000)')
													polyline(stroke='#FFFFFF', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', transform='translate(26.000000, 26.000000) scale(-1, 1) rotate(90.000000) translate(-26.000000, -26.000000) ', points='22 24 26 28 30 24')

					.around-slider__loader
						.around-slider__loader__container
							.around-slider__loader__circle
					.slick-count 0
						span

		//end what-program

		//begin team
		+b.SECTION.team
			+e.person._left(style='background-image: url(static/img/bg/team_anita.jpg)' data-anim='bg')
				+e.person-bg._tab(style='background-image: url(static/img/bg/team_anita-tab.jpg)')
				+e.person-bg._mob(style='background-image: url(static/img/bg/team_anita-mob.jpg)')
				+e.person-text(data-anim='fade-x' data-anim-delay='0.4' data-anim-duration='0.5')
					+e.person-name.title-md
						h4 АНИТА ЛУЦЕНКО
					+e.person-descr.js-dot
						p Главный тренер страны, мастер спорта, многократный чемпион по аэробике и фитнесу, известная телеведущая.

			+e.person._right(style='background-image: url(static/img/bg/team_julia.jpg)' data-anim='bg')
				+e.person-bg._tab(style='background-image: url(static/img/bg/team_julia-tab.jpg)')
				+e.person-bg._mob(style='background-image: url(static/img/bg/team_julia-mob.jpg)')
				+e.person-text(data-anim='fade-x' data-anim-delay='0.4' data-anim-duration='0.5')
					+e.person-name.title-md
						h4 ЮЛИЯ БОГДАН
					+e.person-descr.js-dot
						p Звездный тренер, мастер спорта, консультант по питанию,
							br
							| коуч и автор фитнес-программ.
		//end team

		//begin teaser
		+b.SECTION.teaser(style='background-image: url(static/img/bg/teaser_bg.jpg)' data-anim='bg')
			+e.container.container
				+e.text(data-anim-stagger='fade-x' data-anim-delay='1.5')
					+e.sub-title.title-md
						h4 ТЕБЕ ПОНАДОБЯТСЯ
					+e.title.title-lg
						h2 ГАНТЕЛИ
					+e.title.title-lg
						h2 И КОВРИК
					+e.descr.js-dot
						p Гантели 5 кг, любой коврик для фитнеса, стул и твоя сила воли — все что нужно для прохождения этой программы!
		//end teaser

		//begin how-look
		+b.SECTION.how-look.js-in-view(data-anim='bg')
			+e.media(style='background-image: url(static/img/bg/how-look_bg.jpg)')
				video(width="100%" height="100%" preload="auto" loop="" muted="")
					source(src='static/video/video-sample.mp4' type="video/mp4")
					source(src='static/video/video-sample.webm' type="video/webm")
			+e.container.container
				+e.content(data-anim-stagger='fade-x')
					+e.title.title-md
						h3 Как это выглядит
					+e.text.js-dot
						p Пример тренировки и личного кабинета.
							br
							| Все упражнения в видео формате с подробными обьяснениями и акцентами

					+e.A.btn.btn._green-hov(href='#!')
						span ПРОЙТИ ПРОГРАММУ
		//end how-look

		//begin results
		+b.SECTION.results
			+e.back-title.back-title
				h4 results
			+e.container.container
				+e.title.title-md(data-anim='fade-y')
					h2 WOW результаты

				+b.view-slider.results__view-slider

					+e.images(data-anim='fade-y')
						-n = 0
						while n < 2

							+e.images-item
								+e.images-item-inner
									+e.images-pic-wrap
										+e.images-pic
											+e.IMG(src=`static/img/content/results-2_1.jpg` alt='image')
										+e.images-pic
											+e.IMG(src=`static/img/content/results-2_1.jpg` alt='image')

							+e.images-item
								+e.images-item-inner
									+e.images-pic-wrap
										+e.images-pic
											+e.IMG(src=`static/img/content/results-1_1.jpg` alt='image')
										+e.images-pic
											+e.IMG(src=`static/img/content/results-1_1.jpg` alt='image')

							+e.images-item
								+e.images-item-inner
									+e.images-pic-wrap
										+e.images-pic
											+e.IMG(src=`static/img/content/results-3_1.jpg` alt='image')
										+e.images-pic
											+e.IMG(src=`static/img/content/results-3_1.jpg` alt='image')
							-n++

					+e.view-text.view-slider__text
						-i = 0
						while i < 2
							+e.text-item(data-anim-stagger='fade-y')
								+e.text-title
									h4 Елена (Украина)
								+e.text-descr.js-dot
									p Ну вот и подошла к концу моя любимая программа! Результатом очень довольна....
										br
										| а муж так вообще

							+e.text-item(data-anim-stagger='fade-y')
								+e.text-title
									h4 Антонина (Украина)
								+e.text-descr.js-dot
									p Результатом очень довольна.... Ну вот и подошла к концу моя любимая программа!
										br
										| а муж так вообще

							+e.text-item(data-anim-stagger='fade-y')
								+e.text-title
									h4 Светлана (Украина)
								+e.text-descr.js-dot
									p Ну вот и подошла к концу моя любимая программа! Результатом очень довольна....
										br
										| а муж так вообще

							-i++
		//end results

		//begin prices
		+b.SECTION.prices
			+e.back-title.back-title
				h4 PRICE
			+e.container.container
				+e.text(data-anim-stagger='fade-y')
					+e.title.title-md
						h2 Стоимость программы
					+e.descr.js-dot
						p Программа стартует сразу после оплаты

				+e.inner.js-mobile-slider
					+e.item._color(data-anim-stagger='fade-y')
						+e.item-value
							i 35 €
							h5
								sup €
								| 15
						+e.item-title
							h5 Доступ к программе
								span WOWBODY HEAVY STRONG
								| на 4 недели
						+e.A.item-btn.btn._white-hov(href='#!')
							span ПРОЙТИ ПРОГРАММУ


					+e.item(data-anim-stagger='fade-y')
						+e.item-value
							h5
								sup €
								| 25
						+e.item-title
							h5 Доступ к программе
								span WOWBODY HEAVY STRONG
								| на 8 недель
						+e.A.item-btn.btn._white-hov(href='#!')
							span ПРОЙТИ ПРОГРАММУ
		//end prices